*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: content-box;
}
.container .swiper .swiper-wrapper {
    width: 100vh;
    height: 100vh;
    background-color: transparent;
    display: block;
    align-items: center;
    justify-content: center;  
    margin: auto;
    padding: 0;
}

.swiper {
    width: fit-content;
    height: fit-content;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(stage.jpg);
    background-size: cover;
    background-position: center;
}

.wrapper-1 {
    padding-top: 1em;
    height: 12em;
}

.wrapper-1 .column {
    width: 33.3%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contestants {
    height: 6em;   
}

.contestants .fighter {
    width: 33.3%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contestants .vs {
    width: 30%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contestants:after {
    content: "";
    display: table;
    clear: both;
    display: flex;
}

.kanyeCarousel {
    padding-right: 5em;
    border-color: transparent;
}

.eminemCarousel {
    padding-left: 5em;
    border-color: transparent;
}

.table {
    height: 7em;   
}

.table .carousel {
    width: 33.3%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table .begin {
    width: 30%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}